body {
  margin : 0px;
  overflow: hidden;
  }
  
  #testo{
  left: 15%;
  width: 80%;
  top: 100px;
  position:fixed;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
  }

.button_1 {
  left: 33%;
  width: 50%;
  top: 200px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgrey;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_2 {
  left: 33%;
  width: 50%;
  top: 230px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgray;
    text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_3 {
  left: 33%;
  width: 50%;
  top: 260px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgray;
    text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_4 {
  left: 33%;
  width: 50%;
  top: 290px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgray;
    text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_video {
  left: 33%;
  width: 50%;
  top: 350px;
  position:fixed;
  border: none;
  color: black;
  background-color: #FFBD0B;
    text-align: center;
  text-decoration: none;
  border-radius:10px;
}
