body {
  margin : 0px;
  overflow: hidden;
  background-color: black;
  }
  
  #testo{
  left: 8%;
  width: 80%;
  top: 100px;
  position:fixed;
  border: none;
  color: lightgray;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
  }

.button_1 {
  left: 5%;
  width: 50%;
  top: 200px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgrey;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_2 {
  left: 5%;
  width: 50%;
  top: 230px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgray;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_3 {
  left: 5%;
  width: 50%;
  top: 260px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgray;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_4 {
  left: 5%;
  width: 50%;
  top: 290px;
  position:fixed;
  border: none;
  color: black;
  background-color: #lightgray;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
}

.button_video {
  left: 5%;
  width: 50%;
  top: 350px;
  position:fixed;
  border: none;
  color: black;
  background-color: #FFBD0B;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius:10px;
}
